name: Build RT-Driver

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y bc bison flex libssl-dev libelf-dev \
          wget tar gcc-aarch64-linux-gnu
    
    - name: Download Android 12 kernel 5.10
      run: |
        git clone --depth=1 --branch=android12-5.10 \
          https://android.googlesource.com/kernel/common kernel
        cd kernel
        
        # Конфигурация
        make ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- gki_defconfig
        
        # Подготовка модулей
        make ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- modules_prepare -j$(nproc)
        
        # Создаём Module.symvers
        touch Module.symvers
    
    - name: Build module with GCC
      run: |
        export KBUILD_MODPOST_WARN=1
        make ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- KDIR=$PWD/kernel
    
    - name: Check build
      run: |
        ls -lh rt-driver.ko
        file rt-driver.ko
    
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: rt-driver-5.10.136-android12
        path: "*.ko"
